html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFF;
    --spacing-300: 24px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

body {
    height: 100vh;
    color: var(--gray-950);
    background-color: var(--yellow);
    font-family: "Figtree", sans-serif;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0;
    position: relative;
}

img[alt="illustration"] {
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

main {
    width: 327px;
    background-color: var(--white);
    padding: var(--spacing-300);
    border-radius: 20px;
    outline: 1px solid var(--gray-950);
    box-shadow: 8px 8px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    margin: var(--spacing-300) 0;
}

section * {
    margin: 12px 0;
}

#topic {
    width: fit-content;
    background-color: var(--yellow);
    padding: 4px 12px;
    border-radius: 4px;
}

@media (min-width: 600px) {
    main {
        width: 384px;
    }
}
