@font-face {
    font-family: "Figtree";
    src:
      local("Figtree"),
      url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype"),
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFF;

    --spacing-300: 24px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;

    --text-1: normal 800 24px/150% "Figtree", sans-serif;
    --text-2: normal 500 16px/150% "Figtree", sans-serif;
    --text-3: normal 500 14px/150% "Figtree", sans-serif;
    --text-3-bold: normal 800 14px/150% "Figtree", sans-serif;
    
    --text-mobile-1: normal 800 20px/150% "Figtree", sans-serif;
    --text-mobile-2: normal 500 14px/150% "Figtree", sans-serif;
    --text-mobile-3: normal 500 12px/150% "Figtree", sans-serif;
    --text-mobile-3-bold: normal 800 12px/150% "Figtree", sans-serif;
}

address {
    height: 32px;
    position: relative;
}

body {
    height: 100vh;
    color: var(--gray-950);
    background-color: var(--yellow);
    position: relative;
}

h1 {
    font: var(--text-mobile-1);
}

h1:hover {
    color: var(--yellow);
    cursor: pointer;
}

img[alt="avatar"] {
    display: inline-block;
    height: 100%;
    width: auto;
}

img[alt="illustration"] {
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

main {
    width: 327px;
    background-color: var(--white);
    padding: var(--spacing-300);
    border-radius: 20px;
    outline: 1px solid;
    box-shadow: 8px 8px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0;
}

p {
    font: var(--text-mobile-2);
    color: var(--gray-500);
}

#publish-date {
    font: var(--text-mobile-3);
}

section {
    margin: var(--spacing-300) 0;
}

section * {
    margin: var(--spacing-150) 0;
}

span {
    font: var(--text-3-bold);
    margin-left: var(--spacing-150);
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#topic {
    width: fit-content;
    background-color: var(--yellow);
    padding: var(--spacing-50) var(--spacing-150);
    border-radius: var(--spacing-50);
    font: var(--text-mobile-3-bold);
}

@media (min-width: 600px) {

    h1 {
        font: var(--text-1);
    }

    main {
        width: 384px;
    }

    p {
        font: var(--text-2);
    }
    
    #publish-date {
        font: var(--text-3);
    }

    #topic {
        font: var(--text-3-bold);
    }
    
}
